.mainContainer {
  width: 100%;
  height: 1220px;
}
.containerCards {
  display: flex;
  justify-content: center;
  height: 1200px;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 20px;
  width: 75%;
  background: #eaded5;
}

.sideContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 2.5%;
  gap: 2%;
  background-color: transparent;
}

.containerPag {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.filterContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  /* margin-right: 26px;
  margin-left: 50px; */
  color: rgb(114, 114, 114);
  font-size: 20px;
  font-weight: 400;
}

@media all and (max-width: 767px) {
  .mainContainer {
    height: 2840px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 767px) {
  .containerCards {
    height: 980px;
    display: inline;
    width: 295px;
    background-color: transparent;
  }
}
@media all and (min-width: 991px) {
  .containerCards {
    width: 90%;
  }
}

@media all and (max-width: 767px) {
  .containerCards .sideContainer {
    display: inline;
    flex-direction: column;
    columns: 2;
    flex-wrap: wrap;
    width: 100%;
    margin: 2.5%;
    gap: 2%;
    background-color: transparent;
  }
}

@media all and (max-width: 767px) {
  .container {
    width: 100%;
    margin-bottom: 18px;
  }
}
