.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  height: 30%;
  border-radius: 15px;
  background-color: #edccb4;
}

.img {
  height: 55%;
  border-radius: 15px;
}

.head {
  color: snow;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: flex-start;
  margin-top: 4%;
  margin-left: 4%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.aux {
  color: #0d0d0d;
  margin: 1%;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: max-content;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardInfo {
  color: snow;
  margin-top: 5%;
  margin-left: 4%;
  text-align: center;
}

h6 {
  color: white;
  padding: 0%;
  margin: 0%;
  display: inline;
  font-size: 15px;
}

h3 {
  color: white;
  padding: 0;
  margin: 1%;
  font-size: 20px;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detailsBtn {
  display: flex;
  width: 80%;
  background-color: snow;
  border: solid;
  border-color: #c97d68;
  margin-top: 10px;
  font-size: 20px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #c97d68;
}

button:hover {
  background-color: #d2b39e;
  color: white;
}

@media all and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
