.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efede7;
}

.detailImage {
  width: 35%;
  height: auto;
  border-radius: 70px;
}

@media (max-width: 600px) {
  .detailImage {
    width: 50%;
  }
}

.detailCard {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  top: 0px;
  width: 50%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  list-style-type: none;
}
.detailTitle {
  color: #ab6b59;
}
.detailDiets {
  font-size: 25px;
  position: relative;
  color: #c97d68;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.detailTypes {
  font-size: 25px;
  position: relative;
  color: #ab6b59;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
}

.detailSummary {
  text-align: justify;
  background-color: #edccb4;
  padding: 20px;
  font-weight: 400;
  border: solid;
  margin-top: 25px;
  border-color: #c97d68;
  border-radius: 5vh;
  overflow: hidden;
  color: snow;
}
.stepsDetail {
  text-align: justify;
  border: solid;
  border-color: #c97d68;
  border-radius: 8%;
  font-weight: 300;
  margin-top: 10px;
  padding: 20px;
  background-color: #eaded5;
  color: #6c584f;
}

.detailHscore {
  font-size: 20px;
  position: relative;
  background-color: #ab6b59;
  margin-right: 10px;
  color: white;
  margin-left: 10px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
}
.links {
  display: flex;
}
.back {
  border: solid;
  border-color: #c97d68;
  border-width: 2.5px;
  border-radius: 100px;
  background-color: snow;
  padding: 7px;
  width: 230px;
  height: 45px;
  margin-top: 10px;
  margin-left: -155%;
  margin-bottom: 0px;
  font-family: "Arial", cursive;
  font-size: 17px;
  cursor: pointer;
  color: #c97d68;
}
.back:hover {
  background-color: #d2b39e;
  color: white;
}
.createRecipe {
  border: solid;
  border-color: #c97d68;
  border-width: 2.5px;
  border-radius: 100px;
  background-color: snow;
  padding: 7px;
  width: 230px;
  height: 45px;
  margin-top: 10px;
  margin-left: 158%;
  margin-bottom: 0px;
  font-family: "Arial", cursive;
  font-size: 17px;
  cursor: pointer;
  color: #c97d68;
}
.createRecipe:hover {
  background-color: #d2b39e;
  color: white;
}

@media all and (max-width: 767px) {
  .back {
    width: 93px;
    height: 42px;
    margin-top: 10px;
    margin-left: 59%;
    font-size: 12px;
  }
}

@media all and (max-width: 767px) {
  .createRecipe {
    width: 122px;
    height: 42px;
    margin-top: 62px;
    margin-left: -39%;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .detailCard {
    width: 85%;
  }
}
