.pagination {
  position: relative;
  display: flex;
  padding-bottom: 25px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.pagination > button {
  border-radius: 17px;
  font-size: 15px;
  height: 25px;
  width: 65px;
  margin: 2px;
  color: #f0ead2;
  box-shadow: 3px 0px 5px 0px #000000;
}

.pagination button:hover {
  background-color: #ddb892;
  color: #f0ead2;
}
