nav {
  background-color: #edccb4;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1 rem;
  position: sticky;
  top: 0;
  gap: 0;
  align-items: center;
  text-align: center;
}
/* .logo {
  width: 130px;
  height: 100px;
} */
.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btnCreate {
  /* width: 20px;
  padding-right: 10px;
  cursor: pointer;
  background: #eaded5; */
  display: flex;
  width: 80%;
  background-color: snow;
  border: solid;
  border-color: #c97d68;
  margin-top: 10px;
  font-size: 10px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #c97d68;
}

.navTitle {
  color: aliceblue;
}
