nav {
  background-color: #edccb4;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1 rem;
  position: sticky;
  top: 0;
  gap: 0;
  align-items: center;
  text-align: center;
}
/* .logo {
  width: 130px;
  height: 100px;
} */
.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btnCreate {
  width: 80px;
  height: 90px;
  padding-right: 10px;
  cursor: pointer;
  background: #eaded5;
}

.navTitle {
  color: aliceblue;
}
