.navbar {
  display: flex;
  height: 13em;

  justify-content: center;
  background-color: rgb(172, 172, 228);
}
.logo {
  width: 8rem;
  border-radius: 3rem;
}
.button {
  padding: 1em;
  margin: 2rem;
  border: none;
  background: rgb(234, 235, 235);
  cursor: pointer;
}
